.section-container{
    display: flex;
    justify-content: space-evenly;
}
*{
    padding: 0;
    margin: 0;
}
.border-sample{
 border:thin solid black;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    color: #300ad8;
    font-size: 16pt;
}
header{
    color: #6495ED;
    font-size: 24pt;
}
footer{
    color: rgb(255, 0, 157);
    font-size: 24pt;
}
.container{
    padding: 20px;
}
h1{
    margin-bottom: 20px;
}
.content{
    margin-bottom: 30px;
    text-align: justify;
}
p{
    margin-bottom: 10px;
}
section{
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}